body {
  font-family: fantasy, sans-serif;
  background: rgb(246,222,250 );
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: rgb(224,243, 250);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: rgb(120, 80, 160);
}

.mood-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.mood-options img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  
}

.mood-options img:hover {
  transform: scale(1.1);
 
}

#mood-log {
  background: #fff0f6;
  border-radius: 12px;
  padding: 10px;
  margin-top: 20px;
}

#selectedMood {
  font-size: 20px;
  color: #6c5ce7;
}

.reason-section {
  margin: 20px 0;
}

textarea {
  width: 90%;
  height: 80px;
  border-radius: 10px;
  border: 1.5px solid #ccc;
  padding: 10px;
  resize: none;
  font-size: 16px;
  font-family: fantasy,sans-serif;
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 16px;
  background-color: rgb(252, 119, 210);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: fantasy,sans-serif;
}

button:hover {
  background-color: lightgreen;
}

.mood-circle {
  width: 90px;
  height: 90px;
  border: 2px solid rgb(252, 119, 210);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.mood-circle img {
  width: 120px;
  height: 130px;
  object-fit: contain;
  position: relative;
  top:  -32px;
}

p{
  color: rgb(120, 80, 160);
}